@import "./variables.scss";

.heading--1 {
	font-size: calc($base-size * 2);
	b {
		font-weight: bold;
	}
}

.heading--2 {
	font-size: calc($base-size * 1.5);
	b {
		font-weight: bold;
	}
}

.heading--3 {
	font-size: calc($base-size * 1.25);
	b {
		font-weight: 500;
	}
}

.text-body--1 {
	font-size: calc($base-size * 1);
	b {
		font-weight: 500;
	}
}
