// Measures
$header-height: 80px;

// Colors
$primary-color: #f4f6f9;
$secondary-color: #ffdf00;
$gray-color: #dee1e7;
$light-color: #fff;
$error-color: #d9534f;
$success-color: #5cb85c;

// Texts
$base-size: 16px;
