@import "../../../styles/variables.scss";

.main-container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: $header-height;
	padding-block: 16px;
	
	.__logo-image {
		width: 200px;
	}
}