<div class="main-container">
	<div class="options">
		<form class="__form--1">
			<div class="__field">
				<input
					class="__input"
					type="text"
					name="searchTerm"
					placeholder="Buscar..."
					[(ngModel)]="searchTerm"
					(input)="filterData()" />
			</div>
		</form>
		<button
			class="__button --fill"
			(click)="goTo(buttonActionPath)">
			<span class="text-body--1">Agregar</span>
		</button>
	</div>
	<div class="table-container">
		<table class="__table">
			<thead class="__head">
				<tr class="__row">
					@for (tableColumn of tableColumns; track $index) {
						<th class="__cell">
							<span class="text-body--1">{{ tableColumn.label }}</span>
						</th>
					}
					@if (options && options.length > 0) {
						<th class="__cell">Opciones</th>
					}
				</tr>
			</thead>
			<tbody class="__body">
				@for (tableData of filteredData | paginate: currentPage : itemsPerPage; track $index) {
					<tr class="__row">
						@for (tableColumn of tableColumns; track $index) {
							<td class="__cell">
								@if (tableColumn.type == 'image') {
									<img
										class="--image"
										src="{{ tableData[tableColumn.keyword] }}"
										alt="{{ tableData['name'] }}" />
								} @else if (tableColumn.type == 'date') {
									<span class="text-body--1">{{
										tableData[tableColumn.keyword] | date: 'dd/MM/YYYY'
									}}</span>
								} @else {
									<span class="text-body--1">{{ tableData[tableColumn.keyword] }}</span>
								}
							</td>
						}
						@if (options && options.length > 0) {
							<td
								class="__cell --options"
								(click)="showOptions(tableData['id'])">
								<div class="__container-img">
									<img
										class="__image"
										src="/assets/icons/options.svg"
										alt="Opciones" />
								</div>

								<ul
									class="__dropdown"
									[ngClass]="{
										'--visible': isOnShowOptions && currentProductOption === tableData['id']
									}">
									@for (option of options; track $index) {
										<li
											class="__option"
											(click)="
												openOption(
													option.path,
													tableData['id'],
													option.presentation,
													'¿Estás seguro de eliminar el producto ' + tableData['name'] + '?'
												)
											">
											{{ option.name }}
										</li>
									}
								</ul>
							</td>
						}
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div class="__footer">
		<span class="__count-records">{{ filteredData.length | pluralize: 'Resultado' }} </span>
		<div class="__paginate">
			<button
				class="__button"
				[disabled]="currentPage === 0"
				(click)="prevPage()">
				Anteriores
			</button>
			<button
				class="__button"
				[disabled]="filteredData.length - itemsPerPage <= currentPage"
				(click)="nextPage()">
				Siguientes
			</button>
		</div>
		<form class="__form--1">
			<div class="__field">
				<select
					class="__input"
					name="itemsPerPage"
					(change)="filterData()"
					[(ngModel)]="itemsPerPage">
					<option [value]="5">5</option>
					<option [value]="10">10</option>
					<option [value]="20">20</option>
				</select>
			</div>
		</form>
	</div>
</div>
@if (isOnShowOptions) {
	<div
		class="background-layer"
		(click)="showOptions()"></div>
}

<app-ui-modal-v1
	[visible]="visible"
	[contentModal]="contentModal"
	(confirm)="confirmDelete()"
	(modalSwitch)="closeModal()"></app-ui-modal-v1>
