@import '../../styles/variables.scss';

.layout {
	overflow-x: hidden;

	.main {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: calc(100vh - $header-height);
		padding-block: 5rem;
		padding-inline: 1rem;
		background-color: $primary-color;

		@media (width > 1024px) {
			padding-inline: 0;
		}
		.--wrapper {
			max-width: 1200px;
		}
	}
}
