// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

// Global Styles
@import './app/styles/texts.scss';
@import './app/styles/forms.scss';
@import './app/styles/buttons.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

table {
	border: none;
	border-collapse: collapse;
}
